$primary-color: #ffffff;
$text-color: #bdbdcf;
$auxiliary-color: #3ebaff;
$secondary-color: #5d87a8;
$footer-color: #121f2a;
$background-color: linear-gradient(180deg, rgba(122, 129, 143, 0.3) 0%, rgba(79, 22, 171, 0.225) 100%);